<header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>
</header>

<section class ="admin-dash alert alert-success" role="alert">

  <h2>There <% if @categories.count > 1 %>are<% else %>is<% end %> currently <strong><%= @categories.count %></strong> categorie<% if @categories.count > 1 %>s<% end %> in the database:</h2>
  <% @categories.each do |category| %>
    <%= render 'link', item: category.name, url: category_path(category) %>
  <% end %>

  <h2>There <% if @products.count > 1 %>are<% else %>is<% end %> currently <strong><%= @products.count %></strong> product<% if @products.count > 1 %>s<% end %> in the database:</h2>
  <%= render 'link', item: 'Products', url: "admin/products" %>

  <h2>There <% if @sales.count > 1 %>are<% else %>is<% end %> currently <strong><%= @sales.count %></strong> sale<% if @sales.count > 1 %>s<% end %> in the database:</h2>
  <%= render 'link', item: 'Sales', url: "admin/sales" %>

</section>

<section class="admin-dashboard-show">

  <h3>Admin &raquo; Categories</h3>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default categories">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Categories</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>

  </div>

  <h3>Admin &raquo; Products</h3>

  <div class="well">
    <%= link_to '+ New Product', [:new, :admin, :product], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Category</th>
          <th>Price</th>
          <th>Qty Remaining</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @products %>
      </tbody>
    </table>

  </div>

  <h3>Admin &raquo; Sales</h3>

  <div class="well">
    <%= link_to '+ New Sale', [:new, :admin, :sale], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default sales">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sales</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Percent Off</th>
        </tr>
      </thead>
      <tbody>
        <%= render @sales %>
      </tbody>
    </table>

  </div>

</section>
