<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <p>Thank you for your order!</p>
    <%= render "line_item", order: @order %>

    <p>Your order total is $<%= @order.total_cents / 100 %>.00</p>
    <p>Order placed using email: <%= @order.email %></p>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>