<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <p>Thank you for your order!</p>
    
    <%= render "line_item", order: @order %>

    <h3>Order total: $<%= @order.total_cents / 100 %>.00</h3>
    <% if current_user %>
      <h3>An order receipt was emailed to: <%= current_user.email %></h3>
    <% end %>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-primary' %>
  

</section>