

<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
      <% if !@product.quantity? %>
        <aside class="sold-out">
          <p>SOLD OUT</p>
        </aside>
      <% end %>
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <%= render 'product_details', product: @product %>
    </div>

  </article>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-primary' %>

</section>
